/* Bobagum by @pixelyunicorn */
/* Use at your own risk! */
/* Paste this into Stylebot, and don't forget to flip dark theme on! */

/* UI */

body {
    -webkit-font-smoothing: antialiased;
}

.text-editor .CodeMirror, .file {
    font-family: "Monotalic", monospace;
    font-weight: normal;
    line-height: 1.5em;
}

#application, div.CodeMirror-lines, div.CodeMirror-sizer {
    background: #331e3e;
    color: #ecd1fa;
}

button, .button {
    background: #331e3e;
    color: rgba(255, 255, 255, 0.75);
    border-color: rgba(100, 50, 100, 0.75);
    border-width: 2px;
}

.CodeMirror-search-field, .search-input, .replace-input {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(200, 100, 200, 0.75);
    border-width: 1px;
}

.pop-over, div.CodeMirror-dialog.CodeMirror-dialog-top {
    background: rgba(50, 25, 50);
    border-color: rgba(100, 50, 100, 0.75);
}

.pop-over section.actions {
    background: none;
}

.pop-over .results-list .result, header, .sidebar section {
    border-bottom-color: rgba(100, 50, 100, 0.75);
}

.sidebar {
    border-right: 1px solid rgba(100, 50, 100, 0.75);
    margin-right: -1px;
}

/* Codemirror syntax */

.uno, .cm-property, .cm-variable, .cm-def, .cm-attribute {
    background-color: rgba(198, 83, 159, 0.25);
    color: #f075c7;
}

.duo, .cm-string, .cm-string-2, .cm-number {
    background-color: rgba(240, 209, 117, 0.15);
    color: #f0d175;
}

.tre, .cm-keyword {
    background-color: rgba(117, 240, 219, 0.2);
    color: #75f0db;
}

.cm-tag, .cm-operator, .cm-atom {
    color: inherit;
    opacity: .8;
}

.cm-comment {
    background: rgb(150, 125, 222);
    color: white;
    border-left: 1ch solid #f075c7;
    border-right: 1ch solid #f075c7;
}

.CodeMirror-linenumber {
    color: inherit;
    opacity: .5;
}

