---
title: "Made by Melody"
layout: page
image: meta-preview.png
---

<h1 id="welcome">
  <span class="hidden-phone">{% include icons/welcome.svg size="64" %}</span> Hey hi, I’m <yeet>Melody</yeet>!!
</h1>

<p class="lead">
  I’m an interactive web developer, designer, and storyteller. <br class="hidden-phone"> Here's a taste of what I do →
</p>

{% assign sorted_posts = site.posts | sort: "tile.order" %}

<style>
{% capture tiles_style %}
@import "variables";
@import "mixins";

  tiles {
    margin-left: 20px;
    margin-right: -20px;
  }

{% for post in sorted_posts %}{% unless post.hidden %}
  #tile-{{ post.slug }} {
    grid-column: auto / span calc({{ post.tile.width }} + 1 {% if post.tile.left %}+ {{ post.tile.left }}{% endif %});
    grid-row: auto / span calc({{ post.tile.height }} + 1 {% if post.tile.top %}+ {{ post.tile.top}}{% endif %});
    {% if post.tile.left %}margin-left: calc(40px * {{ post.tile.left }});{% endif %}
    {% if post.tile.top %}margin-top: calc(40px * {{ post.tile.top }});{% endif %}
    {% if post.tile.image %}background-image: url({{ post.tile.image | prepend: post.url }}); background-size: cover; background-position: center;{% endif %}
    cursor: pointer;
    h3 span {
      background-image: linear-gradient(to right, transparent 50%, lighten({{ post.accent }}, 15%) 90%);
    }
    @include media-query(1095px) {
      grid-column: auto / span 7;
      grid-row: auto / span 7;
      margin-left: 0;
      margin-top: 0;
    }
  }
{% endunless %}{% endfor %}{% endcapture %}
{{ tiles_style | scssify }}
</style>

<tiles class="hidden-phone">
  {% for post in sorted_posts %}{% unless post.hidden %}
    <a href="{{ post.url }}" id="tile-{{ post.slug }}" class="tile bg-{{ post.accent }} {{ post.tile.class }}">
      {% if post.draft %}<span class="draft-banner">COMING SOON</span>{% endif %}
      <h3><span title="{{ post.title }}">{{ post.title }}</span></h3>
    </a>
  {% endunless %}{% endfor %}
</tiles>

<blogroll class="visible-phone">
  <h2>Recent Posts</h2>
  <br>
  {% for post in site.posts %}{% unless post.hidden %}
    <a href="{{ post.url }}" class="bg-{{ post.accent }}">
      <h3>{{ post.title }}</h3>
      <p class="metadata">
        {% unless post.draft %}Published {{ post.date | date: "%B %-d, %Y" }} •{% endunless %}
        {% if post.draft %}Draft •{% endif %}
        {% if post.hidden %}Patron Exclusive •{% endif %}
        {% include read-time.html content=post.content %} read
      </p>
    </a>
  {% endunless %}{% endfor %}
</blogroll>

<p>
  Additional case studies:
  <a class="uno" href="/septa">SEPTA System Status</a>,
  <a class="uno" href="/temple">Temple University</a>,
  <a class="uno" href="/bitcamp">Bitcamp Design</a>
  <!-- <a class="uno" href="/tacojs">TacoJS Meetup</a> -->
  <br><br>
  Filter by:
  <a class="uno" href="/hashtag/dev">#dev</a>
  <a class="uno" href="/hashtag/design">#design</a>
  <a class="uno" href="/hashtag/talks">#talks</a>
  <a class="uno" href="/hashtag/guides">#guides</a>
</p>

<hr>

<h2 id="about">
  {% include icons/emoji.svg size="38" %}
  Here's a lil' <yeet>about me:</yeet>
</h2>

<p>
  Nice to meet you! I'm a 🦄 web unicorn, 🍵 tea witch, 🥑 advotaco!
  <br>
  My pronouns are <a class="uno" href="/they">plural they/them</a>.
</p>

<p>
  You can find me on
  <a class="uno" href="https://twitter.com/pixelyunicorn" target="_blank"><img src="https://icon.now.sh/twitter/1da1f2" height="14" width="14" /> Twitter</a>,
  <a class="uno" href="https://github.com/pixelyunicorn" target="_blank"><img src="https://icon.now.sh/github/000" class="visible-theme-light" height="14" width="14" /><img src="https://icon.now.sh/github/fff" class="visible-theme-dark" height="14" width="14" /> GitHub</a>,
  <a class="uno" href="https://dribbble.com/pixelyunicorn" target="_blank"><img src="https://icon.now.sh/dribbble/ea4c89" height="14" width="14" /> Dribbble</a>, and
  <a class="uno" href="https://twitch.tv/pixelysquid" target="_blank"><img src="https://icon.now.sh/twitch/6441a5" class="visible-theme-light" height="14" width="14" /><img src="https://icon.now.sh/twitch/b9a3e3" class="visible-theme-dark" height="14" width="14" /> Twitch</a>.
</p>

<p>
  I also recently launched a <a class="uno" href="https://patreon.com/madebymelody" target="_blank"><img src="https://c5.patreon.com/external/favicon/favicon-16x16.png?v=69kMELnXkB" height="12" width="12" /> Patreon</a> where you can support my work!
</p>

<h2>
  {% include icons/briefcase.svg size="38" %}
  Let's build something <yeet>cool</yeet> together!
</h2>

<p>
  <strong></strong> I am currently available for full time paid work in devrel or webdev. The best way to get in touch with me is thru Twitter DMs. You can also send an email to <yeet>hi</yeet> at <yeet>this domain</yeet>! (No recruiters, thanks!)
</p>

<hr>

<p>
  This site is open source on <a href="https://github.com/{{ site.github }}" target="_blank" class="uno"><img src="https://icon.now.sh/github/000" class="visible-theme-light" height="14" width="14" /><img src="https://icon.now.sh/github/fff" class="visible-theme-dark" height="14" width="14" /> GitHub</a>/<a href="https://glitch.com/~{{ site.glitch }}" target="_blank" class="uno"><img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/logo-day.svg" class="visible-theme-light" height="14" width="18"/><img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/logo-night.svg" class="visible-theme-dark" height="14" width="18"/> Glitch</a> and built on a <a href="https://www.twitch.tv/videos/386750942" target="_blank" class="uno">livestream</a>!
</p>

<br>