---
title: "Made by Melody"
layout: page
image: https://cdn.glitch.com/d3e253ff-871d-442c-988d-a70ce0de1dc3/index-meta-preview.png
---

<h1 id="welcome">
  <span class="hidden-phone">{% include icons/welcome.svg size="64" %}</span> Hey hi, I’m <yeet>Melody</yeet>!!
</h1>

<p class="lead">
  I’m an interactive web developer, designer, and storyteller. <br class="hidden-phone"> Here's a taste of what I do →
</p>

{% assign sorted_posts = site.posts | sort: "tile.order" %}

<style>
{% capture tiles_style %}
@import "variables";
@import "mixins";

  tiles {
    margin-left: 20px;
    margin-right: -20px;
    @include media-query($on-phone) {
      margin-left: 0;
      margin-right: -20px;
    }
  }

  {% for post in sorted_posts %}{% unless post.hidden %}{% unless post.tile.order < 0 %}
  #tile-{{ post.slug }} {
    grid-column: auto / span calc({{ post.tile.width }} + 1 {% if post.tile.left %}+ {{ post.tile.left }}{% endif %});
    grid-row: auto / span calc({{ post.tile.height }} + 1 {% if post.tile.top %}+ {{ post.tile.top}}{% endif %});
    {% if post.tile.left %}margin-left: calc(40px * {{ post.tile.left }});{% endif %}
    {% if post.tile.top %}margin-top: calc(40px * {{ post.tile.top }});{% endif %}
    {% if post.tile.image %}background-image: url({{ post.tile.image | prepend: post.url }}); background-size: cover; background-position: center;{% endif %}
    cursor: pointer;
    h3 span {
      background-image: linear-gradient(to right, transparent 50%, lighten({{ post.accent }}, 15%) 90%);
    }
    @include media-query(1319px) {
      grid-column: auto / span calc({{ post.tile.width }} + 1);
      /* grid-row: auto / span calc({{ post.tile.height }} + 1); */
      margin-left: 0;
      /* margin-top: 0; */
    }
  }
{% endunless %}{% endunless %}{% endfor %}{% endcapture %}
{{ tiles_style | scssify }}
</style>

<tiles class="posts">
  {% for post in sorted_posts %}{% unless post.hidden %}{% unless post.tile.order < 0 %}
    <a href="{{ post.url }}" id="tile-{{ post.slug }}" class="tile bg-{{ post.accent }} {{ post.tile.class }}">
      <h3><span title="{{ post.title }}">{{ post.title }}</span></h3>
      {% if post.draft %}<span class="draft-banner"><span class="hidden-phone">COMING </span>SOON!</span>{% endif %}
    </a>
  {% endunless %}{% endunless %}{% endfor %}
</tiles>

<!-- <blogroll class="visible-phone">
  <h2>Recent Posts</h2>
  <br>
  {% for post in site.posts %}{% unless post.hidden %}{% unless post.tile.order < 0 %}
    <a href="{{ post.url }}" class="bg-{{ post.accent }}">
      <h3>{{ post.title }}</h3>
      <p class="metadata">
        {% unless post.draft %}Published {{ post.date | date: "%B %-d, %Y" }} •{% endunless %}
        {% if post.draft %}Draft •{% endif %}
        {% if post.hidden %}Patron Exclusive •{% endif %}
        {% include read-time.html content=post.content %} read
      </p>
    </a>
  {% endunless %}{% endunless %}{% endfor %}
</blogroll> -->

<!-- <p>
  Filter by hashtag:
  <a class="uno" href="/hashtag/dev">#dev</a>
  <a class="uno" href="/hashtag/design">#design</a>
  <a class="uno" href="/hashtag/talks">#talks</a>
  <a class="uno" href="/hashtag/guides">#guides</a>
 <a class="uno" href="/hashtag/transit">#transit</a>
</p> -->

<p>
  <strong>There's more:</strong> check out my extended <a href="/websites" class="uno">🌎 websites</a> and <a class="uno" href="https://dribbble.com/pixelyunicorn" target="_blank" rel="noreferrer"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-dribbble.svg" height="14" width="14" /> design</a> portfolios!
</p>

<hr>

<h2 id="about">
  {% include icons/emoji.svg size="38" %}
  Here's a lil' <yeet>about me:</yeet>
</h2>

<p>
  Nice to meet you!! I'm Melody: 🍵 sparkly tea witch, 🚆 transit nerd, 🌮 taco advocate, and 🦄 web unicorn. My pronouns are they/them. ✨
</p>

<p>
  You can find me on
  <a class="uno" href="https://twitter.com/pixelyunicorn" target="_blank" rel="noreferrer"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-twitter.svg" height="14" width="14" /> Twitter</a>,
  <a class="uno" href="https://dribbble.com/pixelyunicorn" target="_blank" rel="noreferrer"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-dribbble.svg" height="14" width="14" /> Dribbble</a>,
  <a class="uno" href="https://twitch.tv/pixelysquid" target="_blank" rel="noreferrer"><img role="presentation" src="https://static.twitchcdn.net/assets/favicon-32-d6025c14e900565d6177.png" height="14" width="14" /> Twitch</a>, and
  <a class="uno" href="https://github.com/pixelyunicorn" target="_blank" rel="noreferrer"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-github-000.svg" class="visible-theme-light" height="14" width="14" /><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-github-fff.svg" class="visible-theme-dark" height="14" width="14" /> GitHub</a>.
</p>

<p>
  Love what I do? Support me thru 
  <a class="uno" href="https://cash.app/$pixely" target="_blank" rel="noreferrer">Cashapp</a> and
  <a class="uno" href="https://ko-fi.com/pixely" target="_blank" rel="noreferrer">Ko-Fi</a>!
  <br>
  Your support means a lot to me! 💜
</p> 

<h2>
  {% include icons/briefcase.svg size="38" %}
  Let's build something <yeet>cool</yeet> together!
</h2>

<p>
  You can keep track of my availability, what I'm working on, and events I'll attending on my Notion page:
</p>

<p>
  <a href="https://notion.melody.dev/" class="button uno" target="_blank" rel="noreferrer">📓 Melody on Notion →</a>
</p>

<hr>

<p>
  This site is open source on <a href="https://github.com/{{ site.github }}" target="_blank" rel="noreferrer" class="uno"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-github-000.svg" class="visible-theme-light" height="14" width="14" /><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-github-fff.svg" class="visible-theme-dark" height="14" width="14" /> GitHub</a>/<a href="https://glitch.com/~{{ site.glitch }}" target="_blank" rel="noreferrer" class="uno"><img role="presentation" src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/logo-day.svg" class="visible-theme-light" height="14" width="18"/><img role="presentation" src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/logo-night.svg" class="visible-theme-dark" height="14" width="18"/> Glitch</a> and built on a <a href="https://youtu.be/ZjjpLvy4bYg" target="_blank" rel="noreferrer" class="uno">livestream</a>!
</p>

<br>
