
@font-face {
  font-family: "Basic Sans";
  font-style: normal;
  font-weight: normal;
  src: url("//db.onlinewebfonts.com/t/7b3130be1fb207a4580c948bcd838d9d.eot"); src: url("//db.onlinewebfonts.com/t/7b3130be1fb207a4580c948bcd838d9d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7b3130be1fb207a4580c948bcd838d9d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7b3130be1fb207a4580c948bcd838d9d.woff") format("woff"), url("//db.onlinewebfonts.com/t/7b3130be1fb207a4580c948bcd838d9d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7b3130be1fb207a4580c948bcd838d9d.svg#BasicSansAlt-Regular") format("svg"); }

@font-face {
  font-family: "Basic Sans";
  font-style: normal;
  font-weight: bold;
  src: url("//db.onlinewebfonts.com/t/55e5fa9898122b170e9d2f98471c416e.eot"); src: url("//db.onlinewebfonts.com/t/55e5fa9898122b170e9d2f98471c416e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/55e5fa9898122b170e9d2f98471c416e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/55e5fa9898122b170e9d2f98471c416e.woff") format("woff"), url("//db.onlinewebfonts.com/t/55e5fa9898122b170e9d2f98471c416e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/55e5fa9898122b170e9d2f98471c416e.svg#BasicSansAlt-Bold") format("svg"); }

@import url('https://assets.tumblr.com/fonts/calluna/stylesheet.css?v=3');