// Content Wrapper
container {
  display: block;
  position: relative;
  // width: 100%;
  // max-width: -webkit-calc(#{$container-width} - (#{$spacing-unit} * 2));
  // max-width: calc(#{$container-width} - (#{$spacing-unit} * 2));
  max-width: #{$container-width};
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  clear: both;
  box-sizing: content-box;

  @include media-query($on-tablet) {
    // max-width: -webkit-calc(#{$container-width} - (#{$spacing-unit} / 3));
    // max-width: calc(#{$container-width} - (#{$spacing-unit} / 3));
    padding-right: $spacing-unit / 3;
    padding-left: $spacing-unit / 3;
  }

  @include media-query($on-phone) {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

container[width="full"] {
  display: block;
  width: 100%;
  padding: 0 $spacing-unit;
}

container[width="content-width"] {
  max-width: #{$content-width};
}

// Flexbox Helpers
[float="left"] {
  justify-content: flex-start;
  justify-content: start;
  // text-align: start;
}

[float="center"] {
  justify-content: flex-center;
  justify-content: center;
  // text-align: center;
}

[float="right"] {
  justify-content: flex-end;
  justify-content: end;
  // text-align: end;
}

[align="top"] {
  align-items: flex-start;
}

[align="middle"] {
  align-items: center;
}

[align="bottom"] {
  align-items: flex-end;
}

[distribute="around"] {
  justify-content: space-around;
}

[distribute="between"] {
  justify-content: space-between;
}

[order="reverse"] {
  flex-direction: row-reverse;
}

[direction="row"] {
  flex-direction: row;
}

[direction="row-reverse"] {
  flex-direction: row-reverse;
}

[direction="column"] {
  flex-direction: column;
}

[direction="column-reverse"] {
  flex-direction: column-reverse;
}

[height="full"] {
  display: flex;
  height: 100vh;
  min-height: 600px;
}

// Flexbox Rows
row, .row, rows, .rows {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-left: -$spacing-unit / 2;

  clear: both;
}

column, .column {
  display: block;
  flex: 1 1 auto;
  flex-grow: 1;
  flex-basis: 0px;
  max-width: 100%;
  // margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

@for $i from 5 through 100 {
  @if $i % 5 == 0 {
    $unit: "%";

    [width="#{$i}"] {
      flex-basis: unquote("#{$i}#{$unit}");
      flex-basis: calc(#{$i}% - (#{$spacing-unit} / 2));
      max-width: unquote("#{$i}#{$unit}");

      @include media-query($on-phone) {
        flex-basis: 100% !important;
        flex-basis: calc(100% - (#{$spacing-unit} / 2)) !important;
        max-width: 100% !important;
      }
    }
  }
}

[width="33"] {
  flex-basis: 33.333%;
  flex-basis: calc(33.333% - (#{$spacing-unit} / 2));
  max-width: 33.333%;

  @include media-query($on-phone) {
    flex-basis: 100% !important;
    flex-basis: calc(100% - (#{$spacing-unit} / 2)) !important;
    max-width: 100% !important;
  }
}

[width="66"] {
  flex-basis: 66.666%;
  flex-basis: calc(66.666% - (#{$spacing-unit} / 2));
  max-width: 66.666%;

  @include media-query($on-phone) {
    flex-basis: 100% !important;
    flex-basis: calc(100% - (#{$spacing-unit} / 2)) !important;
    max-width: 100% !important;
  }
}

@include media-query($on-tablet) {
  @for $i from 5 through 100 {
    @if $i % 5 == 0 {
      $unit: "%";

      [tablet-width="#{$i}"] {
        flex-basis: unquote("#{$i}#{$unit}");
        flex-basis: calc(#{$i}% - (#{$spacing-unit} / 2));
        max-width: unquote("#{$i}#{$unit}");
      }
    }
  }

  [tablet-width="33"] {
    flex-basis: 33.333%;
    flex-basis: calc(33.333% - (#{$spacing-unit} / 2));
    max-width: 33.333%;
  }

  [tablet-width="66"] {
    flex-basis: 66.666%;
    flex-basis: calc(66.666% - (#{$spacing-unit} / 2));
    max-width: 66.666%;
  }
}


@include media-query($on-phone) {
  @for $i from 5 through 100 {
    @if $i % 5 == 0 {
      $unit: "%";

      [phone-width="#{$i}"] {
        flex-basis: unquote("#{$i}#{$unit}") !important;
        flex-basis: calc(#{$i}% - (#{$spacing-unit} / 2)) !important;
        max-width: unquote("#{$i}#{$unit}") !important;
      }
    }
  }

  [phone-width="33"] {
    flex-basis: 33.333% !important;
    flex-basis: calc(33.333% - (#{$spacing-unit} / 2)) !important;
    max-width: 33.333% !important;
  }

  [phone-width="66"] {
    flex-basis: 66.666% !important;
    flex-basis: calc(66.666% - (#{$spacing-unit} / 2)) !important;
    max-width: 66.666% !important;
  }
}

// CSS Grid
grid, .grid {
  display: grid;
  grid-column-gap: $spacing-unit;
  grid-row-gap: $spacing-unit;
}

@for $i from 1 through 6 {
  [column-count="#{$i}"] {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}

@include media-query($on-tablet) {
  @for $i from 1 through 6 {
    [tablet-column-count="#{$i}"] {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

@include media-query($on-phone) {
  @for $i from 1 through 6 {
    [phone-column-count="#{$i}"] {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

@for $i from 1 through 6 {
  [row-count="#{$i}"] {
    grid-template-rows: repeat(#{$i}, auto);
  }
}

@include media-query($on-tablet) {
  @for $i from 1 through 6 {
    [tablet-row-count="#{$i}"] {
      grid-template-rows: repeat(#{$i}, auto);
    }
  }
}

@include media-query($on-phone) {
  @for $i from 1 through 6 {
    [phone-row-count="#{$i}"] {
      grid-template-rows: repeat(#{$i}, auto);
    }
  }
}

// Responsive utilities
.visible-phone {
  display: none;
}
.hidden-phone {

}

@include media-query($on-phone) {
  .visible-phone {
    display: block;
  }
  .hidden-phone {
    display: none!important;
  }
}

.visible-tablet {
  display: none;
}
.hidden-tablet {

}

@include media-query($on-tablet) {
  .visible-tablet {
    display: block;
  }
  .hidden-tablet {
    display: none!important;
  }
}
