.page-jekyll-starter {
  tiles tile h1 {
    background: #dc5d6c;
    padding: 1.5rem;
  }
  p.metadata.feature-above {
    color: black;
  }
}

.page-ie6 {
  .feature img[src*="svg"] {
    width: 100vw;
    height: auto;
    max-height: initial;
  }
}
