/* Spaces */

$spacing-unit: 40px;

$container-width: 1280px;
$content-width: 640px; // $container-width * 69;

$on-phone: 600px;
$on-tablet: 960px;

$border-radius: 8px;

/* Fonts */
$header-font: "Basic Sans", basic-sans, "Helvetica Neue", helvetica, arial, sans-serif;
$body-font: "Tisa Pro", ff-tisa-web-pro, basic-sans, "Helvetica Neue", helvetica, arial, sans-serif;
$font-size: 18px;

/* Colors */
$background: #f2f2f2;
$color: #331e3e;

$uno: #f075c7;
$duo: #f0d175;
$tre: #75f0db;

$colors-list:
  ("red", #DA5F6E),
  ("blue", #5F67DA),
  ("purple", #763E94),
  ("orange", #F09103),
  ("teal", #2F6376),
  ("green", #1B8C5A);

/* Etc */

$transition: 350ms ease-in-out;
$transition-linear: 350ms linear;
