<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://cdn.glitch.com/cac749b9-a651-4b28-900e-eab82ca322d7%2Fsquiddo.png?1551146813375">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/apw7exh.css">

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>

    <!-- general seo -->
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">

    <!-- zuckerberg card -->
    <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.domain }}">
    {% if page.image %}
    <meta property="og:image" content="{{ page.image | prepend: page.url | prepend: site.domain }}">
    {% endif %}{% if page.date %}
    <meta property="og:article:author" content="Melody Starling">
    <meta property="og:article:published_time" content="{{ page.date }}">
    {% endif %}

    <!-- @jack card -->
    <meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}">
    <meta name="twitter:site" content="@pixelyunicorn">
    <meta name="twitter:creator" content="@pixelyunicorn">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}">
    {% if page.image %}
    <meta name="twitter:image:src" content="{{ page.image | prepend: page.url | prepend: site.domain }}">
    <meta name="twitter:image:alt" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    {% endif %}
  </head>
  <body class="{% if page.slug %}page-{{ page.slug }} {% endif %}{% if page.accent %}accent-{{ page.accent }} {% endif %}">
    <span id="top"></span>
{{ content }}
  </body>
</html>
