---
layout: default
---
{% include navigation.html %}
<header class="bg-{{ page.accent }} {{ page.class }}">
    <span id="top"></span>
    {% if page.feature %}
    <div class="feature hidden-tablet">
      <img src="{{ page.feature.image | prepend: page.url }}" role="presentation"/>
      <tiles style="
          grid-template-columns: repeat({{ page.feature.width }}, 1fr);
          grid-template-rows: repeat({{ page.feature.height }}, 1fr);
          ">
        <tile style="
          grid-column: {{ page.feature.width | minus: page.tile.width | divided_by: 2 | plus: 1 }} / span {{ page.tile.width }};
          grid-row: {{ page.feature.height | minus: page.tile.height | divided_by: 2 | plus: 1 }} / span {{ page.tile.height }};
        ">
          <h1>{{ page.title }}</h1>
        </tile>
      </tiles>
      <p class="metadata feature-above">
        {% if page.hidden %}Patron Exclusive •{% endif %}
        {% unless page.draft %}Published {{ page.date | date: "%B %-d, %Y" }} •{% endunless %}
        {% if page.draft %}Draft •{% endif %}
        {% include read-time.html %} read
      </p>
    </div>
    <div class="visible-tablet">
      <br class="hidden-phone">
      <h1>{{ page.title }}</h1>
      <p class="metadata">
        {% if page.hidden %}Patron Exclusive •{% endif %}
        {% unless page.draft %}Published {{ page.date | date: "%B %-d, %Y" }} •{% endunless %}
        {% if page.draft %}Draft •{% endif %}
        {% include read-time.html %} read
      </p>
      <img src="{{ page.feature.image | prepend: page.url }}" alt="{{ page.title }}"/>
    </div>
    {% else %}
    <h1>{{ page.title }}</h1>
    <p class="metadata">
      {% unless page.draft %}Published {{ page.date | date: "%B %-d, %Y" }} •{% endunless %}
      {% if page.draft %}Draft •{% endif %}
      {% if page.hidden %}Patron Exclusive •{% endif %}
      {% include read-time.html %} read
    </p>
    {% if page.image %}<img src="{{ page.image | prepend: page.url }}" alt="{{ page.title }}" />{% endif %}
    {% endif %}
</header>
<section id="main">
  {% include toggle-theme.html class="hidden-tablet" %}
  <container width="content-width">
    <article>
      {% if page.draft == true %}
        {% include construction.html %}
        <p style="text-align: center; opacity: 0.5; margin-top: 2rem;">
           {% include icons/welcome.svg size="128" %}
        </p>
        <h1 style="text-align: center; opacity: 0.5; margin-top: 0">
          Nothing here yet!
        </h1>
        <p style="text-align: center; opacity: 0.5; margin-bottom: 3rem;">
          <em>(I'm probably still writing content for this page. Please check back later.)</em>
        </p>
      {% else %}
        {{ content }}
      {% endif %}
    </article>
  </container>
</section>
<section id="plug">
  <container width="content-width">
    <hr>
    <h3>About Melody</h3>
    <img src="/media/avatar.png" alt="Photo of Melody!" width="100" height="100" title="Melody's profile picture!" style="float: left; margin-right: 1ch"/>
    <p>
      Melody is a web developer, designer, and community event organizer based in Philly. You can find them on Twitter at <a class="uno" href="https://twitter.com/pixelyunicorn" target="_blank" rel="noreferrer"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-twitter.svg" height="12" width="12" /> @pixelyunicorn </a>.
    </p>
    <br>
    <h3>Tags &amp; Sharing</h3>
    <p>
      {% for tag in page.tags %}<a href="/hashtag/{{ tag }}" class="button uno" >#{{ tag }}</a>{% endfor %}
      <br>
      <a id="share-mastodon" href="#share-mastodon" onclick="share_on_mastodon('{{ page.title }}', '{{ page.url | prepend: site.domain }}', '{% for tag in page.tags %}#{{ tag }} {% endfor %}')" class="button uno"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-mastodon-000.svg" class="visible-theme-light" height="14" width="14" /><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-mastodon-fff.svg" class="visible-theme-dark" height="14" width="14" /> Mastodon <noscript>(Please enable Javascript)</noscript></a>
      <a id="share-twitter" href="http://twitter.com/share?text={{ page.title }}&url={{ page.url | prepend: site.domain }}&via=pixelyunicorn&hashtags={% for tag in page.tags %}{{ tag }},{% endfor %}" target="_blank" rel="noreferrer" class="button uno"><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-twitter.svg" height="14" width="14" /> Twitter</a>
      <a id="edit-github" href="https://github.com/{{ site.github }}/blob/{{ site.branch }}/{{ page.path }}" target="_blank" rel="noreferrer" class="button uno" ><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-github-000.svg" class="visible-theme-light" height="14" width="14" /><img role="presentation" src="https://cdn.glitch.com/2d246102-8341-4166-a220-b39d607c9218/icon-github-fff.svg" class="visible-theme-dark" height="14" width="14" /> View on GitHub</a>
      <a id="edit-glitch" href="https://glitch.com/edit/#!/{{ site.glitch }}?path={{ page.path }}:1:0" target="_blank" rel="noreferrer" class="button uno"><img role="presentation" src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/logo-day.svg" class="visible-theme-light" height="14" width="18"/><img role="presentation" src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13/logo-night.svg" class="visible-theme-dark" height="14" width="18"/> Remix on Glitch</a>
    </p>
    {% include patreon-beg.html %}
    <h3>More Posts</h3>
    <p class="page-nav">
      {% if page.previous %}{% unless page.previous.hidden %}
        <a class="prev uno button" href="{{page.previous.url}}">← {{page.previous.title}}</a>
      {% else %}{% if page.previous.previous %}
        <a class="prev uno button" href="{{page.previous.previous.url}}">← {{page.previous.previous.title}}</a>
      {% endif %}{% endunless %}{% endif %}
      {% if page.next %}{% unless page.next.hidden %}
        <a class="next uno button" href="{{page.next.url}}">{{page.next.title}} →</a>
      {% else %}{% if page.next.next %}
        <a class="next uno button" href="{{page.next.next.url}}">{{page.next.next.title}} →</a>
      {% endif %}{% endunless %}{% endif %}
    </p>
  </container>
</section>
